img{
	width:30%;
	float:left;
	margin:1.666666%; 
}

p{
	font-family: Lobster;
	font-size:2em;
	margin-left: 1.666666%;
	text-transform: uppercase;
	width: 30%;
	border-bottom: 2px solid #cecece;
	padding-bottom: 1%;
}